@media screen and (max-width: 950px) {
    .hamburger-icon {
        display: block;
        z-index: 99;
    }

    .nav {
        position: absolute;
        top: 0%;
        right: -200%;
        z-index: 99;
        width: 100%;
        height: 100vh;
        background-color: #0C0C10;
        transition: all 0.5s;
    }

    .nav ul {
        flex-direction: column;
        margin-top: 85px;
    }

    .hamburger-icon {
        z-index: 99;
        position: absolute;
        right: 11px;
        top: 10px;
    }
}

@media (max-width:844px) {

    .responsive-silder {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 600px !important;
    }

    .review-box {
        flex-direction: column;

    }

    .previous-btn,
    .next-btn {
        display: none;
    }
}

@media (max-width:800px) {
    .about-section {
        flex-direction: column;
        margin-top: 100px;
        height: auto;
    }
}

@media (max-width:670px) {
    .about-right-part {
        width: 450px;
    }

}

@media (max-width:732px) {
    .review-box {
        margin-top: 29px;
    }
}

@media (max-width:782px) {
    .custom-cursor {
        display: none;
    }

    .review-box {
        width: 400px !important;
        padding: 20px;
    }
}

@media (max-width:500px) {
    .text-white {
        font-size: 12px;
        margin-top: 10px;
    }
}

@media (max-width:423px) {
    .about-left-part{
        width: 300px;
    }
.about-right-part{
    width: 300px;
}

    
}

@media (max-width:392px) {
    .review-box {
        width: 293px !important;
        padding: 20px;
    }
}

.activenav {
    transition: all 0.5s;
    right: -0%;
}